arduino556_6/556-6(노드레드코드).txt
[{"id":"38a714ed5d75856f","type":"mqtt in","z":"a6c4802cc84bd2f6","name":"","topic":"nockanda/esp32/output","qos":"2","datatype":"auto-detect","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":260,"wires":[["396d2d5dafa99ee4"]]},{"id":"98b49fd212a631a0","type":"debug","z":"a6c4802cc84bd2f6","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":260,"wires":[]},{"id":"396d2d5dafa99ee4","type":"csv","z":"a6c4802cc84bd2f6","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":390,"y":260,"wires":[["98b49fd212a631a0","c4f49b145cbc4603","3a12cf071c2ec402","087f56662f8df4bd","9b53d527523d093d","07de1c9d84a0c6e5","a0b8491a6e384b8f"]]},{"id":"c4f49b145cbc4603","type":"ui_text","z":"a6c4802cc84bd2f6","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"온도","format":"<h1>{{msg.payload.col1}} 'C</h1>","layout":"row-spread","className":"","x":590,"y":340,"wires":[]},{"id":"3a12cf071c2ec402","type":"ui_text","z":"a6c4802cc84bd2f6","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"습도","format":"<h1>{{msg.payload.col2}} %</h1>","layout":"row-spread","className":"","x":590,"y":380,"wires":[]},{"id":"283dad24addec306","type":"mqtt out","z":"a6c4802cc84bd2f6","name":"","topic":"nockanda/esp32/input","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8f4f6e74.2997a","x":520,"y":560,"wires":[]},{"id":"a4d526536721000f","type":"ui_button","z":"a6c4802cc84bd2f6","name":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"passthru":false,"label":"LED1 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"11","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":540,"wires":[["283dad24addec306"]]},{"id":"2935441f62ead85c","type":"ui_button","z":"a6c4802cc84bd2f6","name":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"passthru":false,"label":"LED1 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"10","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":580,"wires":[["283dad24addec306"]]},{"id":"a5725ada0c889c9e","type":"ui_button","z":"a6c4802cc84bd2f6","name":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"passthru":false,"label":"LED2 ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"21","payloadType":"str","topic":"topic","topicType":"msg","x":160,"y":620,"wires":[["283dad24addec306"]]},{"id":"218d08d311b50e52","type":"ui_button","z":"a6c4802cc84bd2f6","name":"","group":"2e91c6de.e9a80a","order":2,"width":0,"height":0,"passthru":false,"label":"LED2 OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"20","payloadType":"str","topic":"topic","topicType":"msg","x":170,"y":660,"wires":[["283dad24addec306"]]},{"id":"4b5f3b80f3e1aef0","type":"ui_text","z":"a6c4802cc84bd2f6","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"LED1 상태","format":"<h1>{{msg.payload}}</h1>","layout":"row-spread","className":"","x":610,"y":420,"wires":[]},{"id":"a3bccd9bad01ba17","type":"ui_text","z":"a6c4802cc84bd2f6","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"LED2 상태","format":"<h1>{{msg.payload}}</h1>","layout":"row-spread","className":"","x":610,"y":460,"wires":[]},{"id":"087f56662f8df4bd","type":"switch","z":"a6c4802cc84bd2f6","name":"","property":"payload.col3","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":380,"wires":[["0a41c167f7348ce3"],["05113764950afe95"]]},{"id":"0a41c167f7348ce3","type":"change","z":"a6c4802cc84bd2f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"꺼짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[["4b5f3b80f3e1aef0"]]},{"id":"05113764950afe95","type":"change","z":"a6c4802cc84bd2f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"켜짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":400,"wires":[["4b5f3b80f3e1aef0"]]},{"id":"9b53d527523d093d","type":"switch","z":"a6c4802cc84bd2f6","name":"","property":"payload.col4","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":460,"wires":[["7c3bcecb8c08019c"],["c99f72665b5c2d3c"]]},{"id":"7c3bcecb8c08019c","type":"change","z":"a6c4802cc84bd2f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"꺼짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":440,"wires":[["a3bccd9bad01ba17"]]},{"id":"c99f72665b5c2d3c","type":"change","z":"a6c4802cc84bd2f6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"켜짐","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":480,"wires":[["a3bccd9bad01ba17"]]},{"id":"07de1c9d84a0c6e5","type":"ui_gauge","z":"a6c4802cc84bd2f6","name":"","group":"2e91c6de.e9a80a","order":8,"width":"3","height":"3","gtype":"donut","title":"온도","label":"'C","format":"{{msg.payload.col1}}","min":"-10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":590,"y":160,"wires":[]},{"id":"a0b8491a6e384b8f","type":"ui_gauge","z":"a6c4802cc84bd2f6","name":"","group":"2e91c6de.e9a80a","order":8,"width":"3","height":"3","gtype":"donut","title":"습도","label":"%","format":"{{msg.payload.col2}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":590,"y":200,"wires":[]},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 4","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]