arduino571_3/571-3(노드레드코드).txt
[{"id":"c0fb4a6ae9cfa600","type":"mqtt in","z":"0f2181f1ab823234","name":"","topic":"nockanda/ina219","qos":"2","datatype":"utf8","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":120,"wires":[["3e9dfefb885dfe60"]]},{"id":"93cca6d249375428","type":"debug","z":"0f2181f1ab823234","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":120,"wires":[]},{"id":"3e9dfefb885dfe60","type":"json","z":"0f2181f1ab823234","name":"","property":"payload","action":"","pretty":false,"x":310,"y":120,"wires":[["93cca6d249375428","56fc5a14e7eb3027","567e8a9d13252a55","9bd686571a0cc516","939fd514151ebc8f","bc845d29640590da","0c925a05e2da01d0","589620199fa51365","ae6bc7d871d19d1c","6ace74a5ee57ccc6","ee623ad20b51e33c","970d377554a79611"]]},{"id":"56fc5a14e7eb3027","type":"ui_text","z":"0f2181f1ab823234","group":"37b8047e.89c1ec","order":3,"width":0,"height":0,"name":"","label":"Bus Voltage","format":"{{msg.payload.BV}} V","layout":"row-spread","className":"","x":490,"y":200,"wires":[]},{"id":"567e8a9d13252a55","type":"ui_text","z":"0f2181f1ab823234","group":"fdb00772.727d78","order":3,"width":0,"height":0,"name":"","label":"Shunt Voltage","format":"{{msg.payload.SV}} mV","layout":"row-spread","className":"","x":500,"y":240,"wires":[]},{"id":"9bd686571a0cc516","type":"ui_text","z":"0f2181f1ab823234","group":"17ba9e89486de979","order":3,"width":0,"height":0,"name":"","label":"Load Voltage","format":"{{msg.payload.LV}} V","layout":"row-spread","className":"","x":490,"y":280,"wires":[]},{"id":"939fd514151ebc8f","type":"ui_text","z":"0f2181f1ab823234","group":"f458b80d0c1832dd","order":3,"width":0,"height":0,"name":"","label":"Current","format":"{{msg.payload.C}} mA","layout":"row-spread","className":"","x":480,"y":320,"wires":[]},{"id":"bc845d29640590da","type":"ui_text","z":"0f2181f1ab823234","group":"ca3aa16535c90e5b","order":3,"width":0,"height":0,"name":"","label":"Power","format":"{{msg.payload.P}} mW","layout":"row-spread","className":"","x":470,"y":360,"wires":[]},{"id":"998a03398c422a1d","type":"ui_button","z":"0f2181f1ab823234","name":"","group":"2ae4354ae85e734a","order":8,"width":"3","height":"1","passthru":false,"label":"릴레이ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":600,"wires":[["bf340608aa8899d2"]]},{"id":"b3c039fade73852d","type":"ui_button","z":"0f2181f1ab823234","name":"","group":"2ae4354ae85e734a","order":8,"width":"3","height":"1","passthru":false,"label":"릴레이OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":640,"wires":[["bf340608aa8899d2"]]},{"id":"bf340608aa8899d2","type":"mqtt out","z":"0f2181f1ab823234","name":"","topic":"nockanda/relay","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8f4f6e74.2997a","x":400,"y":620,"wires":[]},{"id":"0c925a05e2da01d0","type":"ui_gauge","z":"0f2181f1ab823234","name":"","group":"37b8047e.89c1ec","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"V","format":"{{msg.payload.BV}}","min":0,"max":"36","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":470,"y":400,"wires":[]},{"id":"589620199fa51365","type":"ui_gauge","z":"0f2181f1ab823234","name":"","group":"fdb00772.727d78","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"mV","format":"{{msg.payload.SV}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":470,"y":440,"wires":[]},{"id":"ae6bc7d871d19d1c","type":"ui_gauge","z":"0f2181f1ab823234","name":"","group":"17ba9e89486de979","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"V","format":"{{msg.payload.LV}}","min":0,"max":"36","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":470,"y":480,"wires":[]},{"id":"6ace74a5ee57ccc6","type":"ui_gauge","z":"0f2181f1ab823234","name":"","group":"f458b80d0c1832dd","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"mA","format":"{{msg.payload.C}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":470,"y":520,"wires":[]},{"id":"ee623ad20b51e33c","type":"ui_gauge","z":"0f2181f1ab823234","name":"","group":"ca3aa16535c90e5b","order":1,"width":0,"height":0,"gtype":"donut","title":"gauge","label":"mW","format":"{{msg.payload.P}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":470,"y":560,"wires":[]},{"id":"fddb6851f62b83e6","type":"ui_chart","z":"0f2181f1ab823234","name":"","group":"2ae4354ae85e734a","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"20","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":310,"y":380,"wires":[[]]},{"id":"970d377554a79611","type":"change","z":"0f2181f1ab823234","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.C","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":380,"wires":[["fddb6851f62b83e6"]]},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"37b8047e.89c1ec","type":"ui_group","name":"Bus Voltage","tab":"a8c3dc2a.d66a8","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"fdb00772.727d78","type":"ui_group","name":"Shunt Voltage","tab":"a8c3dc2a.d66a8","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"17ba9e89486de979","type":"ui_group","name":"Load Voltage","tab":"a8c3dc2a.d66a8","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f458b80d0c1832dd","type":"ui_group","name":"Current","tab":"a8c3dc2a.d66a8","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ca3aa16535c90e5b","type":"ui_group","name":"Power","tab":"a8c3dc2a.d66a8","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2ae4354ae85e734a","type":"ui_group","name":"릴레이제어","tab":"a8c3dc2a.d66a8","order":7,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]